@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

::-webkit-scrollbar{
    width: 16px;
    background-color: rgb(230, 230, 230);
	  display: none;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(100, 100, 100, .6);
    border: 4px solid rgb(230, 230, 230);
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgba(100, 100, 100, .4);
}

[contenteditable] {
  outline: 0px solid transparent !important;
}

*{
    /* overflow-x: hidden !important; */
    user-select: none !important;
    font-family: 'Inter';
    box-sizing: border-box !important;
    outline: none !important;
    color: white;
    scroll-behavior: smooth !important;
    -webkit-tap-highlight-color: rgba(230, 230, 230, 0) !important;
    text-rendering: optimizeLegibility;
}

.ui-controller{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    margin: 0; padding: 0;
    background-color: rgb(245, 245, 245);
}

.navbar{
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 50px;
	margin: 0; padding: 0;
	background-color: white;
	border-bottom: 2px solid rgb(230, 230, 230);
	display: flex;
	align-items: center;
	overflow: visible !important;
	z-index: 60;
}

.navbar-logo{
	height: 40px;
	display: flex;
	align-items: center; justify-content: center;
	margin: 0; padding: 0;
	margin-left: 10px;
	margin-top: 0px;
}

.navbar-logo>img{
	width: 35px;
	pointer-events: none;
}

.navbar-title{
	color: rgba(0, 0, 0, .5);
	font-size: 25px;
	font-weight: 900;
	text-indent: 15px;
	margin: 0; padding: 0;
	margin-right: 15px;
	display: none;
}

.navbar>a{
	width: max-content;
	height: 35px;
	display: flex;
	align-items: center; justify-content: center;
	margin: 0; padding: 0;
	padding-left: 15px; padding-right: 15px;
	color: blueviolet;
	text-decoration: none;
	border-radius: 17.5px;
	margin-top: auto; margin-bottom: auto;
	border: 1px solid rgba(230, 230, 230, 0);
	margin-left: 10px;
	transition: .3s;
}
.navbar>a:hover, .navbar>a:focus{
	background-color: rgb(240, 240, 240);
	transition: 0s;
}
.navbar>a:active{
	background-color: rgb(240, 240, 240);
	border-color: blueviolet;
	transition: 0s;
}

.toggle-burger-menu{
	position: absolute;
	top: 5px; right: 5px;
	width: 40px; height: 40px;
	display: flex;
	align-items: center; justify-content: center;
	margin: 0; padding: 0;
	/* padding-left: 15px; padding-right: 15px; */
	/* margin-left: 10px; */
	cursor: pointer;
	border: 1px solid rgba(100, 100, 100, 0);
	border-radius: 50%;
	overflow: visible;
	transition: .3s;
}
.toggle-burger-menu:hover, .toggle-burger-menu:focus{
	background-color: rgb(240, 240, 240);
	transition: 0s;
}
.toggle-burger-menu:active{
	border-color: blueviolet;
	background-color: rgb(240, 240, 240);
	transition: 0s;
}

.toggle-burger-menu>img, .btn-open-todo>img{
	width: 25px;
	pointer-events: none;
	transform: rotate(-45deg);
	animation: rotateImg .3s forwards;
}

@keyframes rotateImg{
	to{
		transform: rotate(0deg);
	}
}

.btn-open-todo{
	position: absolute;
	top: 5px;
	right: 50px;
	width: 40px; height: 40px;
	display: flex;
	align-items: center; justify-content: center;
	margin: 0; padding: 0;
	cursor: pointer;
	border: 1px solid rgba(100, 100, 100, 0);
	border-radius: 50%;
	overflow: visible;
	transition: .3s;
}
.btn-open-todo:hover, .btn-open-todo:focus{
	background-color: rgb(240, 240, 240);
	transition: 0s;
}
.btn-open-todo:active{
	border-color: blueviolet;
	background-color: rgb(240, 240, 240);
	transition: 0s;
}

.burger-menu{
	position: fixed;
	top: 50px;
	right: -310px;
	width: 310px;
	height: calc(100% - 50px);
	margin: 0; padding: 0;
	background-color: white;
	overflow: hidden !important;
	z-index: 110;
}

.frame-one{
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	margin: 0; padding: 0;
	overflow-x: hidden !important;
	overflow-y: auto !important;
  opacity: 0;
	transition: .3s ease-out;
}

.frame-one>div{
	width: 100%;
	height: 50px;
	margin: 0; padding: 0;
	color: black;
	border: 1px solid rgba(230, 230, 230, 0);
	font-size: 20px;
	text-indent: 15px;
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: .3s;
}
.frame-one>div:hover{
	background-color: rgb(240, 240, 240);
	transition: 0s;
}
.frame-one>div:active{
	background-color: rgb(240, 240, 240);
	border-color: blueviolet;
	transition: 0s;
}

.frame-two{
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	margin: 0; padding: 0;
	overflow-x: hidden !important;
	overflow-y: auto !important;
	transform: translateX(100%);
  opacity: 0;
	transition: .3s ease-out;
}

.frame-two>.btn-back{
	position: absolute;
	top: 0; left: 0;
	height: 40px; width: 40px;
	margin: 0; padding: 0;
	margin-top: 17.5px; margin-left: 17.5px;
	display: flex;
	align-items: center; justify-content: center;
	cursor: pointer;
	border: 1px solid rgba(100, 100, 100, 0);
	border-radius: 50%;
	transition: .3s;
}
.frame-two>.btn-back:hover, .frame-two>.btn-back:focus{
	background-color: rgb(240, 240, 240);
	transition: 0s;
}
.frame-two>.btn-back:active{
	border-color: blueviolet;
	background-color: rgb(240, 240, 240);
	transition: 0s;
}

.frame-two>.btn-back>img{
	height: 25px;
	pointer-events: none;
}

.frame-two>.title{
	color: rgba(0, 0, 0, .5);
	font-size: 30px;
	width: 100%;
	height: 75px;
	margin: 0; padding: 0;
	text-align: center;
	display: flex;
	align-items: center; justify-content: center;
	/* border: 3px solid rgb(0, 255, 170); */
}

.frame-two>.settings-item{
	width: 100%;
	height: 50px;
	margin: 0; padding: 0;
	display: flex;
	align-items: center;
	z-index: 111;
}

.frame-two>.changelog-si{
  height: max-content;
  padding-bottom: 25px;
}

.frame-two>.settings-item>img{
	height: 25px;
	transform: translateX(15px);
	pointer-events: none;
}

.frame-two>.settings-item>p{
	color: black;
	transform: translateX(25px);
	pointer-events: none;
}

.frame-two>.togglement-area{
	width: 100%;
	height: 50px;
	margin: 0; padding: 0;
	margin-top: -50px;
	display: flex;
	align-items: center;
	justify-content: right;
	cursor: pointer;
	border: 1px solid rgba(100, 100, 100, 0);
	transition: .3s;
}
.frame-two>.togglement-area:hover, .frame-two>.togglement-area:focus{
	background-color: rgb(240, 240, 240);
	transition: 0s;
}
.frame-two>.togglement-area:active{
	border-color: blueviolet;
	background-color: rgb(240, 240, 240);
	transition: 0s;
}

.frame-two>.togglement-area>img{
	height: 35px;
	margin: 0; padding-left: 250px;
	transform: translateX(-25px);
	pointer-events: none;
}

.regulment-toggarea-img{
	transform: translateX(-20px) !important;
}

.frame-two>.togglement-area>p{
	color: rgba(0, 0, 0, .5);
	margin: 0; padding: 0;
	transform: translateX(-25px);
	pointer-events: none;
}

.frame-two>.dropdown{
	width: 100%;
	height: max-content;
	margin: 0; padding: 0;
	/* margin-left: calc(50% - 25px); */
	background-color: rgb(245, 245, 245);
	overflow: hidden !important;
	display: none;
}

.frame-two>.dropdown>div{
	color: black;
	height: 30px;
	width: 100%;
	margin: 0; padding: 0;
	display: flex;
	align-items: center;
	text-indent: 15px;
	border: 1px solid rgba(100, 100, 100, 0);
	cursor: pointer;
	transition: .3s;
}
.frame-two>.dropdown>div:hover, .frame-two>.dropdown>div:focus{
	background-color: rgb(230, 230, 230);
	transition: 0s;
}
.frame-two>.dropdown>div:active{
	border-color: blueviolet;
	background-color: rgb(230, 230, 230);
	transition: 0s;
}

.textbar{
	position: fixed;
	bottom: 0; left: 0;
	width: calc(100% - 80px);
	height: 60px;
	margin: 0; padding: 0;
	padding-left: 25px; padding-right: 25px;
	padding-top: 20px;
  padding-bottom: 25px;
	background-color: rgba(255, 255, 255, .85);
	border-radius: 0px;
	box-shadow: 0 0 10px 0 rgba(200, 200, 200, .5);
	color: rgba(0, 0, 0, .5);
  font-size: 15px;
	resize: none;
	overflow-y: hidden;
	z-index: 5;
	transition: .5s;
}
.textbar:hover, .textbar:focus{
	background-color: white;
	overflow-y: auto;
  border-radius: 0 8px 0 0;
	color: black;
}

.messages{
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
	/* height: calc(100% - 110px); */
	height: calc(100% - 50px);
	margin: 0; padding: 0;
	padding-left: 25px; padding-right: 25px;
	padding-bottom: 85px;
	overflow-y: auto;
  transition: 1.5s;
}

.sms{
	background-color: rgb(201, 201, 201);
	/* border: 5px solid rgb(150, 150, 150); */
	width: max-content;
	/* max-width: 325px; */
	height: max-content;
	margin: 0; padding: 0;
	padding-left: 15px;
	padding-right: 16px;
	padding-top: 10px;
	padding-bottom: 7.5px;
	/* border: 2px solid black; */
	border-radius: 12px;
	margin-top: 25px;
	/* margin-bottom: 25px; */
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
	animation: smsCreated 1s;
}

.warnsms{
	background-color: rgb(168, 168, 255);
	/* border-color: rgb(112, 112, 255); */
}

@keyframes smsCreated {
	from{
		opacity: 0;
		transform: translateY(25px);
	}
}

.sms>p, .sms>p>*{
	color: black;
	margin: 0; padding: 0;
	text-align: justify;
	hyphens: auto;
	line-height: 23px;
}

.sms>p>img{
	width: 100%;
	margin: 0; padding: 0;
	margin-top: 10px; margin-bottom: 10px;
	border-radius: 6px;
	cursor: pointer;
	transition: .3s;
}
.sms>p>img:hover{
	filter: contrast(.5);
	transition: 0s;
}

#smsSubmitBtn{
	position: fixed;
	bottom: 0; right: 0;
	width: 80px;
	height: 60px;
	margin: 0; padding: 0;
	background-color: white;
	display: flex;
	align-items: center; justify-content: center;
	cursor: pointer;
	border: 1px solid rgba(100, 100, 100, 0);
	box-shadow: 0 0 10px 0 rgba(200, 200, 200, .5);
	z-index: 6;
	transition: .3s;
}
#smsSubmitBtn:hover, #smsSubmitBtn:focus{
	background-color: rgb(240, 240, 240);
	transition: 0s;
}
#smsSubmitBtn:active{
	background-color: rgb(240, 240, 240);
	border-color: blueviolet;
	transition: 0s;
}

#smsSubmitBtn>img{
	width: 40px;
	pointer-events: none;
}

@media screen and (max-width: 950px){
  .textbar:hover, .textbar:focus{
    height: calc(100% - 200px);
  }
}

@media screen and (max-width: 500px){
	.navbar{
		height: 75px;
	}
	.navbar-logo{
		height: 50px;
		margin-left: 12.5px;
	}
	.navbar-logo>img{
		width: 50px;
	}
	.navbar>a{
		display: none;
	}
	.toggle-burger-menu{
		top: 12.5px; right: 12.5px;
		width: 50px; height: 50px;
	}
	.toggle-burger-menu>img, .btn-open-todo>img{
		width: 32.5px;
	}
	.btn-open-todo{
		top: 12.5px;
		right: 75px;
		width: 50px; height: 50px;
	}
	.burger-menu{
		top: 75px;
		height: calc(100% - 75px);
	}
	.textbar{
		width: calc(100% - 150px);
		border-radius: 60px 0 0 60px;
		margin-bottom: 25px; margin-left: 25px;
	}
	.textbar:hover, .textbar:focus{
		width: 100%;
		border-radius: 0;
		margin: 0;
	}
	#smsSubmitBtn{
		right: 0;
		width: 100px;
		border-radius: 0 60px 60px 0;
		margin-bottom: 25px; margin-right: 25px;
	}
	.messages{
		top: 75px;
		height: calc(100% - 75px);
		padding-left: 15px; padding-right: 15px;
		padding-bottom: 95px;
		padding-top: 15px;
	}
	.sms{
		margin-top: 0px;
		margin-bottom: 15px;
	}
	.sms>p, .sms>p>*{
		line-height: 27.5px;
	}
	.modal{
		width: 90% !important;
	}
	.todolist{
		top: 75px !important;
		height: calc(100% - 75px) !important;
	}
	::-webkit-scrollbar{
		background-color: rgba(230, 230, 230, 0);
		width: 5px;
	}
	::-webkit-scrollbar-thumb{
		border: none;
		border-radius: 0px;
	}
	.black-screen{
		top: 75px !important;
		height: calc(100% - 75px) !important;
	}
}

.black-screen{
	position: fixed;
	top: 50px; left: 0;
	width: 100%; height: calc(100% - 50px);
	margin: 0; padding: 0;
	background-color: rgba(127.5, 127.5, 127.5, .75);
	z-index: 100;
	display: none;
	align-items: center; justify-content: center;
	animation: blackScreen .5s;
}

@keyframes blackScreenImage {
	from{
		transform: scale(.85);
		opacity: 0;
	}
}

@keyframes blackScreen {
	from{
		opacity: 0;
	}
}

.modal-mask{
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	margin: 0; padding: 0;
	background-color: #7f7f7fbf;
	display: none;
	align-items: center; justify-content: center;
	z-index: 115;
	animation: blackScreen .5s;
}

.modal{
	position: relative;
	width: 440px;
	max-height: 80%;
	min-height: 200px;
	margin: 0; padding: 0;
	background-color: white;
	border-radius: 4px;
	box-shadow: 0 0 0 1px rgb(185 187 190 / 30%), 0 2px 10px 0 rgb(0 0 0 / 10%);
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 105;
	animation: modalOpen .5s forwards;
}

.modal::-webkit-scrollbar{
	border-radius: 0 4px 4px 0;
}

@keyframes modalOpen {
	from{
		transform: scale(.75);
		opacity: 0;
	}
	to{
		transform: scale(.9999);
		opacity: 1;
	}
}

.modal>.header{
	position: relative;
	width: 100%;
	height: max-content;
	margin: 0; padding: 0;
	overflow-y: visible;
}

.modal>.header>p{
	margin: 0; padding: 0;
	width: calc(100% - 30px);
	color: black;
	font-size: 25px;
	font-weight: 600;
	margin-left: 15px;
	margin-top: 15px;
}

.modal>.main{
	position: relative;
	width: 100%;
	height: max-content;
	margin: 0; padding: 0;
	overflow-y: auto;
}

.modal>.main>p{
	margin: 0; padding: 0;
	width: calc(100% - 30px);
	color: black;
	margin-left: 15px;
	margin-top: 15px;
	text-align: justify;
	hyphens: auto;
}

.modal>.footer{
	position: sticky;
	bottom: 0;
	width: 100%;
	height: 70px;
	margin: 0; padding: 0;
	background-color: rgb(240, 240, 240);
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: right;
	overflow-y: visible;
}

.modal>.footer>.btn{
	width: max-content;
	height: 38px;
	margin: 0; padding: 0;
	margin-right: 16px;
	padding-left: 16px; padding-right: 16px;
	display: flex;
	align-items: center;
	border-radius: 3px;
	cursor: pointer;
	transition: .3s;
}

.modal>.footer>.btn.primary{
	background-color: blueviolet;
	transition: .3s;
}
.modal>.footer>.btn.primary:hover{
	background-color: rgb(0, 0, 200);
	transition: 0s;
}

.modal>.footer>.btn>p{
	margin: 0; padding: 0;
	font-size: 14px;
	font-weight: 600;
}

.modal>.footer>.btn>img{
	height: 20px;
	margin-left: 8px;
}

.modal-deletefeature{
	display: none;
}

.modal-physiquechimie{
	display: none;
	animation-delay: 2s;
}

.todolist{
	position: fixed;
	top: 50px;
	left: 0;
	width: 100%;
	height: calc(100% - 50px);
	margin: 0; padding: 0;
	overflow-y: hidden;
	transform: translateY(100%);
	z-index: 7;
	background-color: rgb(245, 245, 245);
	transition: .3s ease-out;
}

.todolist>.header{
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 60px;
	margin: 0; padding: 0;
	overflow-y: hidden;
	background-color: white;
	display: flex;
	align-items: center;
}

.todolist>.header>p{
	color: rgba(0, 0, 0, .5);
	font-size: 25px;
	margin-left: 25px;
}

.todolist>iframe{
	position: fixed;
	top: 60px;
	width: 100%;
	height: calc(100% - 60px);
	margin: 0; padding: 0;
}

.disclaimer{
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: max-content;
  margin: 0; padding: 0;
  padding-left: 15px; padding-right: 15px;
  background-color: rgb(248, 42, 42);
  display: flex;
  align-items: center;
  transition: 1.5s;
}

.disclaimer>.content{
  transform: translateY(-1px);
  transition: 2s;
}