<div class="menu-bar">

        <div class="main">

                <p class="title-part">Introduction</p>
                <a href="../index.php">Résumé</a>

                <p class="title-part">Les produits</p>
                <a href="../chapter/la-technologie-wifimax.php">La technologie WifiMax</a>
                <a href="../chapter/le-reseau-globe-phone.php">Le réseau Globe-Phone</a>

                <p class="title-part">Went Lab Corporation</p>
                <a href="../chapter/went-app-promo.php">La Went App</a>

        </div>

        <div class="footer">
                <p class="content">Site en développement</p>
        </div>

</div>