<div class="navbar">
        <!-- <div class="menu-strip">
                <a id="fileMenuStrip" class="btn-open-stripen-dropdown">Fichier</a>
                <a id="helpMenuStrip" class="btn-open-stripen-dropdown">Aide</a>
        </div> -->
        <!-- La seconde div .title devra être supprimée, elle permet seulement de centrer le titre -->
        <!-- <div class="title"></div> -->
</div>

<div id="file_stripen_dropdown" class="menu-strip-dropdown">
        <div>Préférences</div>
        <div>Revenir à l'acceuil</div>
</div>

<div id="help_stripen_dropdown" class="menu-strip-dropdown">
        <div>À propos</div>
</div>

<div class="nvb-title">Abeille Informatique</div>