*{
    user-select: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    margin: 0; padding: 0;
    outline: none !important;
}

::-webkit-scrollbar{
    width: 16px;
    background-color: white;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(100, 100, 100, .5);
    border-radius: 8px;
    border: 4px solid white;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgba(100, 100, 100, .7);
}
::-webkit-scrollbar-thumb:active{
    background-color: rgb(172, 87, 252);
}

.btn-primary{
    height: 45px;
    margin: 0; padding: 0;
    padding-bottom: 2.5px;
    padding-left: 25px; padding-right: 25px;
    color: white;
    background-color: blueviolet;
    border-radius: 12px;
    display: flex;
    align-items: center; justify-content: center;
    cursor: pointer;
    transition: .3s;
}
.btn-primary:hover{
    background-color: rgb(115, 115, 255);
}

.ui-controller{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    margin: 0; padding: 0;
    background-color: rgb(245, 245, 245);
}

.navbar{
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 21px;
    margin: 0; padding: 0;
    /* padding-left: 25px; padding-right: 25px; */
    /* border-bottom: 2px solid rgb(190, 190, 190); */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .05);
    display: flex;
    align-items: center;
    z-index: 500;
    overflow: hidden;
    transition: .3s;
}

.navbar>.menu-strip{
    width: max-content;
    height: 100%;
    margin: 0; padding: 0;
    display: flex;
    flex-direction: row; align-items: center;
}

.navbar>.menu-strip>a{
    font-size: 13.5px;
    height: 100%;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center; justify-content: center;
    padding-left: 10px; padding-right: 10px;
}
.navbar>.menu-strip>a:hover{
    background-color: rgba(0, 0, 0, .05) !important;
}

.nvb-title{
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 21px;
    margin: 0; padding: 0;
    font-size: 13.5px;
    color: black;
    background: linear-gradient(90deg, #d7dae3, #f1f1fb);
    font-family: 'inter semibold';
    text-decoration: none;
    display: flex;
    align-items: center; justify-content: center;
    text-align: center;
    /* padding-left: 10px; padding-right: 10px; */
    z-index: 400;
}

.menu-strip-dropdown{
    position: fixed;
    top: 21px;
    left: 0;
    width: max-content; height: max-content;
    margin: 0; padding: 0;
    /* padding: 5px; */
    background-color: rgb(240, 240, 240);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .05);
    z-index: 420;
    display: none;
}

.menu-strip-dropdown>div{
    font-size: 13.5px;
    padding: 3px 30px 3px 7px;
}
.menu-strip-dropdown>div:hover{
    background-color: rgb(225, 225, 225);
}

.header{
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    margin: 0; padding: 0;
    background-color: rgb(34, 34, 34);
    background: url('https://th.bing.com/th/id/R.8b8d0cb7a5a19fce85d37dfa57c38ea7?rik=Zd35k85dHlw8AA&riu=http%3a%2f%2fwww.ileri.fr%2fwp-content%2fuploads%2f2018%2f02%2f10-Livres-relations-internationales.jpg&ehk=zRv6TYFIsUgSiiW%2fMhPVo2p%2blrrY6p2ynbg8ssZJqoU%3d&risl=&pid=ImgRaw&r=0') center;
    background-size: cover;
    display: flex;
    align-items: center; justify-content: center;
    z-index: 1;
}

.header>div{
    width: max-content; height: max-content;
    margin: 0; padding: 0;
    margin-top: -250px;
    border-radius: 4px;
    padding: 50px;
    /* border: 2px dashed red; */
}

.header>div>p{
    margin: 0; padding: 0;
    margin-bottom: 50px;
    font-size: 100px;
    padding-bottom: 5px;
    font-weight: 900;
    text-align: center;
    background: linear-gradient(to right, rgb(108, 255, 248) 0%, rgb(71, 107, 224) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header>div>input{
    width: 500px;
    height: 50px;
    margin: 0; padding: 0;
    padding-left: 15px; padding-right: 15px;
    border: none;
    border-radius: 25px;
}
.header>div>input:focus{
    border-radius: 15px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 1);
}